---
- name: Configure systems with baseline
  hosts: "{{ vm_name | default('all') }}"
  become: true
  gather_facts: false
  pre_tasks:
    - name: Wait for systems to become available
      ansible.builtin.wait_for_connection:
        timeout: 900
    - name: Gather facts
      ansible.builtin.setup:
  roles:
    - role: redhat.rhel_system_roles.crypto_policies
      state: present
    - role: redhat.rhel_system_roles.firewall
      state: present
    - role: redhat.rhel_system_roles.journald
      state: present
    - role: redhat.rhel_system_roles.logging
      state: present
    - role: redhat.rhel_system_roles.metrics
      state: present
    - role: redhat.rhel_system_roles.selinux
      state: present
    - role: redhat.rhel_system_roles.sshd
      state: present
    - role: redhat.rhel_system_roles.timesync
      state: present
    - role: redhat.rhel_system_roles.tlog
      state: present
  tasks:
    - name: Configure MOTD
      ansible.builtin.template:
        src: ../templates/motd.j2
        dest: /etc/motd
        owner: root
        group: root
        mode: 0644
